<form action="{% url 'polls:suara' pertanyaan.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ pertanyaan.pertanyaan_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for pilih in pertanyaan.pilih_set.all %}
            <input type="radio" name="pilih" id="pilih{{ forloop.counter }}" value="{{ pilih.id }}">
            <label for="pilih{{ forloop.counter }}">{{ pilih.pilih_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>